/*
 Clearfix
 */
.clearfix {
    overflow: hidden;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
 banner
 */
.banner {
    width: 100%;
    height: 967px;
    background-size: 100% 100%;
    background: url("images/banner.jpg") no-repeat top center;
}

.banner .b1 {
    text-align: center;
    font-size: 86px;
    font-family: PlayfairDisplay-Black;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ffffff;
    padding-top: 416px;
}

.banner .b2 {
    text-align: center;
    font-size: 20px;
    font-family: Myriad Pro;
    color: #FFFFFF;
    letter-spacing: 14px;
}

/*
Intro1
 */

.intro1 .get-info{
    margin-top: 200px;
    margin-left: 135px;
    width: 80%;
    height: 509px;
    background-color: #e9e9e9;
    border: 20px solid #f4f4f4;
    position: relative;
}

.intro1 .get-info{
    padding-top: 50px;
    padding-left: 52px;
}

.intro1 .get-info h4{
    font-size: 17px;
    font-family: Myriad Pro;
    color: #7b7b7b;
    letter-spacing: 14px;
}

.intro1 .get-info p{
    font-size: 53px;
    font-family: Playfair Display;
    color: #4c4c4c;
}

.intro1 .get-info h5{
    font-size: 16px;
    font-family: Myriad Pro;
    color: #686868;
    letter-spacing: 6px;
}

.intro1 .get-info .intro1-btn{
    padding-left: 30px;
}

.intro1 a{
    color: lightgrey;
}

.intro1 .get-info a :hover{
    color: grey;
}

.intro1 img{
    position: absolute;
    margin-left: 475px;
    margin-top: -120px;
    box-shadow: 10px 10px 10px #fbfbfb;

}

/*
intro2
 */

.intro2 {
    padding-top: 200px;
}

.intro2 .container h3{
    font-size: 17px;
    font-family: Myriad Pro;
    color: #777777;
    letter-spacing: 10px;
}

.intro2 .container .text1{
    font-size: 53px;
    font-family: PlayfairDisplay;
    font-weight: bold;
}

.intro2 .container .text2{
    font-size: 20px;
    font-family: PlayfairDisplay;
}

.intro2 .container .symbol h4{
    font-size: 16px;
    font-family: Myriad Pro;
    color: #777777;
    letter-spacing: 5px;
}

.intro2 .container .symbol .abc{
    padding-left: 30px;
}

.intro2 a{
    color: lightgrey;
}

.intro2 .symbol a :hover{
    color: grey;
}

/*
intro 3
 */

.intro3 h3{
    margin-top: 176px;
    text-align: center;
    font-size: 86px;
    font-family: PlayfairDisplay-Black;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 197px;
    padding-bottom: 30px;
    border-bottom: 5px solid #ffffff;
}

.intro3 h5{
    text-align: center;
    font-size: 22px;
    font-family: Myriad Pro;
    color: #FFFFFF;
    letter-spacing: 10px;
    padding-top: 60px;
}

.intro3 {
    background: url("images/nature.jpg" )no-repeat;
    width: 100%;
    height: 600px;
}

/*
intro4
 */
.intro4 {
    text-align: center;
    background-image: url("images/map.jpg");
}

.intro4 .container h3{
    text-align: center;
    font-family: Playfair Display;
    font-size: 56px;
    font-weight: bold;
    padding-top: 162px;
    padding-bottom: 76px;
}

.intro4 .photographer .social-icon{
    margin-top: -220px;
    margin-left: 40px;
}

.intro4 .photographer .social-icon :hover i{
    opacity: 1;
}

.social-icon i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    margin-right :20px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
}

.social-icon i:hover {
    background: white;
    color: black;
}

.intro4 .container .icon i {
    color: #a6a3a3;
    font-size: 7px;
    padding : 50px 3px;
}

.intro4 .container .icon i:hover {
    color: grey;
}

/*
intro5
 */
.intro5 {
    margin-top: 50px;
    padding-top: 170px;
    background-color:#f5f5f5 ;
    height: 720px;
}

.intro5 .container .row h3{
    text-align: center;
    font-size: 50px;
    font-family: PlayfairDisplay;
    font-weight: bold;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.main-menu ul li {
    float: left;
    font-family: Myriad Pro;
    font-weight: bold;
}

.main-menu ul li a {
    display: inline-block;
    padding: 20px;
    color: #888888;
    font-size: 20px;
    text-decoration: none;
}
.main-menu ul li a:hover {
    color:black;
}

.intro5 .project-col img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid #eeeeee;
}

.intro5 .project-col #anh2{
    padding-top: 17px;
}

.intro5 .project-col #anh4{
    padding-top: 75px;
}

.intro5 .project-col #anh6{
    padding-top: 17px;
}

.intro5 .project-col-3 p{
    opacity: 0;
    margin-top: -100px;
    margin-left: 75px;
}

.intro5 .project-col-3 :hover p{
    color: white;
    opacity: 1;
}

/*
Footer
 */

.contact-info .menu-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.contact-info .menu-contact ul li {
    float: left;
    font-family: Playfair Display-Regular;
    font-weight: bold;
}

.contact-info .menu-contact ul li a {
    display: inline-block;
    padding: 20px;
    color: #888888;
    font-size: 16px;
    text-decoration: none;
}
.contact-info .menu-contact ul li a:hover {
    color:black;
}

.contact-info .line-contact-info{
    font-size: 18px;
    font-family: PlayfairDisplay;
    color: #888888;
    padding-left: 57px;
}

.email-form{
    margin-top: 15px;
    padding-left: 150px;
}

.email-form i{
    border: 7px solid #333333;
    background: #333333;
    color: white;
    margin-left: -5px;
}

.end p{
    font-size: 16px;
    font-family: PlayfairDisplay;
    color: #888888;
}

.end span a{
    color: #888888;
    float: right;
    padding: 10px;
}
